<div class="row">
        <div class="col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <div style="border-top: 1px solid; border-bottom: 2px solid; padding: 5px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="text-center col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <h3 style="font: normal normal normal 90px/1.1em 'Open Sans', sans-serif">
                <span style="color: #2a676b  !important;"> LUMINIERE</span>    
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="text-center col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <img src="assets/img/logo.jpg" class="img-thumbnail" width="200px">
        </div>
    </div>
    <div class="row">
        <div class="text-center col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <h1 style="font: normal normal normal 18px/1.1em 'Georgia, palatino','book antiqua','palatino linotype', serif">
                <span style="color: #0c0c0c !important;"> LA MAGIA DE LAS VELAS</span>    
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
            <div style="border-top: 1px solid; border-bottom: 2px solid; padding: 5px;"></div>
        </div>
    </div>
