<div style="position: absolute; top: 0px; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url('assets/img/img1.jpg')">
    
    
    <div style="position: relative; top: 85px; width: 100%; height: 100px; background: transparent; background-color:rgba(0, 0, 0, 0.7);opacity: 50; color: white;">
         
    </div>
    <div class="row" style="position: relative;  color: white; padding: 10px;">
        <div class="col col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            
                <div class="">
                <nav class="navbar navbar-inverse" style="border: none; background-color: transparent; background: transparent">
                    <div class="container-fluid ">
                        <div class="navbar-header"  style="background:  #545454 !important;">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" routerLink="/ingreso"><i class="fa fa-fire"></i> <font color="white">Luminiere</font> </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="color: white">
                            <li><a routerLink="inicio"><font color="white">INICIO</font></a></li>
                            <li><a routerLink="informacion"><font color="white">INFORMACIÓN</font></a></li>
                            <li><a routerLink="productos"><font color="white">PRODUCTOS</font></a></li>
                            <li><a href="#"><font color="white">FOTOGRAFIA</font></a></li>
                            <li><a style="color:#ECF0F1 !important;"><i class="fa fa-3x fa-facebook-square" ></i> </a></li>
                            <li><a style="color:#ECF0F1 !important;"><span><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></span> </a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
                </div>
            </div>
       
    </div>
    <router-outlet></router-outlet>
    <div style="position: relative; top: 85px; width: 100%; height: 100px; background: transparent; background-color:rgba(0, 0, 0, 0.7);opacity: 50; color: white;">
         
    </div>
</div>

